:root {
    --bulma-scheme-main: white !important;
    --bulma-card-color: black !important;
    --custom-text-color: black;
}


html, body {
    background-color: white !important;
}

.has-shadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

.custom-title {
    font-size: 1.5em;
    color: var(--custom-text-color);
}

.no-top-radius {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
